section{
    background-color: grey;
    margin: auto;
}

.baseDisplay{
    height:200px;
}

.leftdiv {
    width: 165px;
    float: left;
}

.rightdiv{
    padding-left: 5px;
}

.container {
    position:relative;
    height:188px;
    width:157px;
}

.container div {
    position:absolute;
    background-image:url(../img/gearbg.png);
    width:157px;
    float:left;
    margin: 0 auto;
}


.container .bg-image {
    opacity:0.8;
    height:188px;
    width:157px;
}

.container div.highlight-region {
    border: 2px dotted white;
    cursor: pointer;
}

.container div.highlight-region:hover{
    border: 2px dashed yellow;
}

.container div.highlight-region:active {
    border: 2px solid red;
}

.container div.selected {
    border: 2px solid blue;
}

/* slot placement */

.container div#weapon {
    background-position: -5px -5px;
    top:3px;
    left: 3px;
    width: 32px;
    height: 95px;
}

.container div#Helmets {
    background-position: -41px -5px;
    top:3px;
    left: 39px;
    width: 32px;
    height: 29px;
}

.container div#Shields {
    background-position: -77px -35px;
    left: 75px;
    top: 35px;
    width: 32px;
    height: 32px;
}

.container div#Bracelets {
    background-position: -77px -68px;
    left: 75px;
    top: 68px;
    width: 32px;
    height: 32px;
}

.container div#Earrings {
    background-position: -116px -35px;
    left: 116px;
    top: 35px;
    width: 32px;
    height: 32px;
}

.container div#Necklaces {
    background-position: -116px -68px;
    left: 116px;
    top: 68px;
    width: 32px;
    height: 32px;
}

.container div#Armours {
    background-position: -41px -37px;
    top: 35px;
    left: 39px;
    width: 32px;
    height: 64px;
}

.container div#Belts {
    background-position: -41px -109px;
    top:109px;
    left: 39px;
    width: 32px;
    height: 29px;
}

.container div#Shoes {
    background-position: -41px -149px;
    top:147px;
    left: 39px;
    width: 32px;
    height: 29px;
}

/* Modal Data Display*/
.item {
    white-space: pre-line;
    background-color: grey;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: auto;
    cursor: pointer;
    border-radius: 10px;
    width: 275px;
    float: left;
}

.modal-content .leftdiv {
    width: auto;
}

.modal-content .leftdiv img {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 10%;
    transform: translateY(-10%);
}

.modal-content .rightdiv {
    width: auto;
    height: auto;
    line-height: 1px;
}

.height5 {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.height6 {
    min-height: 96px;
    display: flex;
    align-items: center;
}

.height7 {
    min-height: 112px;
    display: flex;
    align-items: center;
}

.height8 {
    min-height: 128px;
    display: flex;
    align-items: center;
}

#selectedItemNames {
    line-height: 16px;
    background-color: #d9d9d9;
}


/* BONUSES */
.selectedItemContainer {
    cursor: crosshair;
}

.hidden {
    display: none
}

.selectedItemBonuses{
    
}

.selectedItemBonuses .addbonus{
    color:green;
    cursor: pointer;
}

.selectedItemBonuses .addrarity{
    color:red;
    cursor: pointer;
}

.bonuslink {
    cursor: pointer;
    color:blue;
}

.itembonus {
    white-space: pre-line;
    background-color: grey;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: auto;
    border-radius: 10px;
    width: 275px;
    float: left;
    padding-left: 10px;
}

.bonus, .addbonus, .addrarity {
    padding-left: 15px;
}

.bonus{
    color:#008080;
}